<div class="navbar bg-base-100 shadow-sm" data-theme="dark">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl">Zakah🍃</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>Home</a></li>
      <li>
        <details>
          <summary>Calculator</summary>
          <ul class="p-2">
            <li><a>Gold 24k</a></li>
            <li><a>Gold 22k</a></li>
          </ul>
        </details>
      </li>
      <li><a>Contact Us</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn">Login</a>
  </div>
</div>
